*{
    font-family: 'Preahvihear', cursive !important;
}
.container .title{
    text-align: center;
    /* margin-bottom: 2em; */
}
.container-bt{
    margin-bottom: 4em;
}
.cl-black{
    color: black !important;
}
.title{
    text-align: left !important;
    font-weight: bold;
}
.ka-title{
    font-size: 11px !important;
    color: #777777;
}
.learn-more{
    color: rgb(78, 156, 80) !important;
}
.font-name{
    font-family: 'Preahvihear', cursive !important;
    text-align: center !important;
}


