body {
    font-family: 'Preahvihear', cursive !important;
}
.ui.inverted.segment, .ui.primary.inverted.segment {
    background: rgb(78, 156, 80);
    color: rgba(255,255,255,.9);
    background-image: url("../images/cover.jpg");
    background-size: cover;
}
.ui.secondary.inverted.pointing.menu {
    border-width: 0px;
    border-color: rgba(34,36,38,.15) !important;
    font-family: 'Preahvihear', cursive !important;
}
.brand-logo {
    width: 200px !important;
}
.ui.large.menu {
    font-size: 1.07142857rem;
    background-color: rgb(78, 156, 80);
}
.ui.menu .item {
    color: rgba(255,255,255,.7);
    font-family: 'Preahvihear', cursive !important;
}
.ui.menu .active.item {
    color: white;
    font-family: 'Preahvihear', cursive !important;
}
.ui.menu a.item:hover{
    color: white;
    font-family: 'Preahvihear', cursive !important;
}
.ui.menu a.active.item:hover{
    color: white;
    font-family: 'Preahvihear', cursive !important;
}

.masthead .ui.menu .ui.button {
    margin-left: 0px !important;
}
.ui.selection.dropdown {
    min-width: 150px;
}
.masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: bold !important;
    font-family: 'Lato', sans-serif !important;
    text-shadow: 5px 4px 5px black;
}
.masthead h2 {
    font-size: 1.7em;
    text-shadow: 2px 2px 2px black;
}
.ui.icon.input>input {
    width: 690px;
}
@media only screen and (max-width: 700px){
    .secondary.pointing.menu .item, .secondary.pointing.menu .menu {
        display: none;
    }
    .ui.icon.input>input {
        width: 300px;
    }
    .fixed.menu {
        display: none !important;
        transition: none !important;
    }
}
.menu{
    margin: auto !important;
}
.ui.inverted.menu {
    background: rgb(78, 156, 80);
}
