
/*[ Bootstrap ]*/
.container {max-width: 1380px;}

@media (max-width: 1600px) {
  .container {max-width: 1200px;}
}

/*//////////////////////////////////////////////////////////////////
[ Block1 ]*/
.block1 {
  position: relative;
  border: 1px solid #e6e6e6;
}

.block1-txt {
  background-color: rgba(103,117,214,0.0);
}

/*---------------------------------------------*/
.block1-txt-child2 {
  border-bottom: 2px solid #fff;
  overflow: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.block1-link {
  -webkit-transform: translateY(250%);
  -moz-transform: translateY(250%);
  -ms-transform: translateY(250%);
  -o-transform: translateY(250%);
  transform: translateY(250%);
}

/*---------------------------------------------*/
.block1-txt:hover {
  background-color: black;
  opacity: 0.4;
}

.block1-txt:hover .block1-txt-child2 {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.block1-txt:hover .block1-link {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

/*---------------------------------------------*/
.stext {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
}

.fix-bg-black .caption {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
  background: black;
  opacity: 0.5;
  /* bottom: 0px; */
  border-radius: 100% 0% 0%;
}
.caption-text{
  text-align: center;
  padding-top: 45%;
  color: white;
}
.title{
  text-align: center;
}
.cl-white{
  color: white;
}


/* for home page */

.caption-style{
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style:hover img{
  transform: scale(1.15,1.15);
  -webkit-transform:scale(1.15,1.15);
  -moz-transform:scale(1.15,1.15);
  -ms-transform:scale(1.15,1.15);
  -o-transform:scale(1.15,1.15);
}

.caption-style img{
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  -ms-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
}
.cl-white-main {
  color: white;
  text-align: center;
  margin-top: 10%;
}
.block1-txt-child2-override {
  border-bottom: 0px solid #fff;
}

/* end home Page */

/* Responsive */
@media (max-width: 1600px) {
  .cl-white-main {
    margin-top: 18%;
  }
}
@media (max-width: 1600px) {
  .cl-white-main {
    margin-top: 13%;
  }
}

@media (max-width: 867px) {
  .cl-white-main {
    margin-top: 8%;
  }
}

@media (max-width: 405px) {
  .cl-white-main {
    display: none;
  }
}
